extends layout

block content
  h1= title
  p Welcome to MERN STACK Application
  p This is a simple application built using MongoDB, Express.js, React.js, and Node.js.
  img(src='/images/MERN-Stack.png', alt='MERN Stack Image')
